<!-- <div class="medium-12 columns">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>  
</div> -->
<div id="image-section" class="center-cropped" style="overflow:hidden;">
	<%= image_tag invite.avatar %>
</div>
<div class="details">
	<p class="title"> <%= invite.name %> </p>
	<p> <%= invite.start_date.strftime("%m/%d/%y %I:%M") %> <%= invite.invite_start_am_pm %> to <%= invite.end_date.strftime("%m/%d/%y %I:%M") %> <%= invite.invite_start_am_pm %></p>
	<p> <%= invite.address %> </p>
	<div class="hide_scrollbar">
		<div class="scroll">
			<p> <%= invite.description %> </p>
		</div>
	</div>
	<% if invite.allow_others %>
		<p> Guests may allow others </p>
	<% else %>
		<p> Invite-only event </p>
	<% end %>
</div>
