<%= simple_form_for invite, url: url do |f| %>

 <div class="row">
   <div id="image-section">
   </div>
 </div>
<div class="medium-12 columns">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>  
</div>
 <div class="margin-top row">
   <div class="medium-12 columns">
     <%= f.input :name, label: "", placeholder: "Event name" %>
   </div>
 </div>

 <div class="margin-top row">
   <div class="medium-12 columns date-range">
     <%= f.input :start_date, as: :datetime, ampm: true, label: "" %>
   </div>
   <div class="medium-12 columns date-range">
     <%= f.input :end_date, as: :datetime, ampm: true, label: "" %>
   </div>
 </div>

  <div class="row">
   <div class="medium-12 columns">
     <%= f.input :description, label: "", placeholder: "Tell them all the details", label: "", as: :text %>
   </div>
 </div>

  <div class="row">
   <div class="medium-12 columns">
     <%= f.input :address, html: { id: "pac-input" }, label: "" %>
   </div>
 </div>


 <div class="margin-top row">
   <div class="medium-12 columns">

     <%= f.input :avatar, as: :file, label_html: { class: 'file-upload' }, label: "Select Event Image" %>
   </div>
 </div>
<!-- <div class="row">
   <div class="large-12 columns">
     <small>By clicking "Submit" you are agreeing to our <a href="/terms-of-service">terms of service</a> and our <a href="/privacy-policy">privacy policy</a>.</small>
   </div>
 </div>

 -->
  <div class="row">
   <div class="medium-12 columns">
     <%= f.input :allow_others, label: "Guests can invite others", as: :boolean %>
   </div>
 </div>

<% end %>