<%= simple_form_for invite, url: url do |f| %>
 <div class="margin-top row">
   <div class="medium-12 columns">
     <%= f.input :name %>
   </div>
 </div>

 <div class="margin-top row">
   <div class="medium-2 columns">
     <%= f.input :start_date, as: :datetime %>
   </div>
   <div class="medium-2 columns">
     <%= f.input :end_date, as: :datetime %>
   </div>
 </div>

  <div class="row">
   <div class="medium-12 columns">
     <%= f.input :description %>
   </div>
 </div>

 <div class="margin-top row">
   <div class="medium-12 columns">
     <%= f.input :allow_others, as: :boolean %>
   </div>
 </div>

 <div class="row">
   <div class="large-12 columns">
     <%= f.button :submit %>
   </div>
 </div>
<% end %>