<link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
<div id="inviter">

<%= simple_form_for invite, url: url do |f| %>

 <div class="row">
   <div id="image-section" class="center-cropped" style="overflow:hidden;">
   </div>
 </div>
<div class="medium-12 columns">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>  
</div>
 <div class="margin-top row">
   <div class="medium-12 columns">
     <%= f.input :name, label: "", placeholder: "Event name" %>
   </div>
 </div>

 <div class="row">
   <div class="medium-5 columns date-range">

     <p><input type="text" id="datepicker" name="invite[invite_start_date]" placeholder="Start date"></p>

   </div>
   <div class="medium-2 columns date-range">

     <p><input type="text" name="invite[invite_start_hour]" placeholder="Hour"></p>

   </div>
   <div class="medium-2 columns date-range">

     <p><input type="text" name="invite[invite_start_minute]" placeholder="Min"></p>

   </div>
   <div class="medium-2 columns">

   <select id="title" name="invite[invite_start_am_pm]">
    <option value="am">am</option>
    <option value="pm">pm</option>
   </select>
   </div>
   <div class="medium-1 columns">
   </div>

</div>

 <div class="row">
   <div class="medium-5 columns date-range">

     <p><input type="text" id="end_datepicker" name="invite[invite_end_date]" placeholder="End date"></p>

   </div>
   <div class="medium-2 columns date-range">

     <p><input type="text" name="invite[invite_end_hour]" placeholder="Hour"></p>

   </div>
   <div class="medium-2 columns date-range">

     <p><input type="text" name="invite[invite_end_minute]" placeholder="Min"></p>

   </div>
   <div class="medium-2 columns">

   <select id="title" name="invite[invite_end_am_pm]">
    <option value="am">am</option>
    <option value="pm">pm</option>
   </select>
   </div>
   <div class="medium-1 columns">
   </div>

</div>

 <div class="row">
  <div class="medium-12 columns">
    <%= f.input :address, html: { id: "pac-input" }, label: "", placeholder: "Location" %>
  </div>
</div>

  <div class="row">
   <div class="medium-12 columns">
     <%= f.input :description, label: "", placeholder: "Tell them the details", label: "", as: :text %>
   </div>
 </div>




 <div class="row">
     <div id="myModal2" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">

     <div id="no-overflow">
          <div class="large-3 columns">
            Gmail <%= image_tag("gmail", size: "60x60") %>
          </div>

          <div class="large-9 columns">
            <input type="text" name="search-autocomplete" id="search-autocomplete" placeholder="Search"><br>
          </div>

          <div class="large-12 columns" id="contacts-table">
           <table id="myModal2-table">
             <tbody id="myModal2-table-body">
             </tbody>
           </table>
          </div>
      </div>
        <div class="large-9 columns">
          <p>We believe in privacy. We won't spam your contacts.</p>
        </div>

        <div class="large-3 columns">
          <a class='button' id='continue-button'>Done</a>
        </div>

    </div>

 </div>   

 <div class="margin-top row">
   <div class="medium-12 columns">

     <%= f.input :avatar, as: :file, label_html: { class: 'file-upload' }, label: "Select Event Image" %>
   </div>
 </div>



  <div class="row">
   <div class="medium-12 columns">
     <%= f.input :allow_others, label: "Guests can invite friends", as: :boolean %>
   </div>
 </div>

 <div class="row">
    <div class="large-12 columns">
      <small>By submitting this form you are agreeing to our <a href="/terms-of-service">terms of service</a> and our <a href="/privacy-policy">privacy policy</a>.</small>
    </div>
  </div>
 </div>

 <script>

 </script>

 <script>
 document.cookie = "oauth_provider=hotmail";

 $("#myModal2").click(function() {
   document.cookie = "oauth_provider=google";
   });
 $("#hotmailLogin").click(function() {
   document.cookie = "oauth_provider=hotmail";
 });

 function addCookie(cname, value) {
  document.cookie= cname + "=" + value;

 }
 </script>
<script>
function delete_cookie( name ) {
  document.cookie = name + '=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
}


</script>


<% end %>
<div id="buttons">
  <a href="#" class="button inviter_button" id="submit_button" data-reveal-id="myModal">SEND TO 0 INVITES</a>

  <a href="#" class="button inviter_button" id="choose_contacts_button" data-reveal-id="myModal">CHOOSE CONTACTS</a>
</div>
<div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <p>Choose your service provider (easiest)</p>
      <a href="<%= @login_url %>" id="hotmailLogin"><%= image_tag("hotmail", size: "120x120") %></a>

      <a onclick="auth();" data-reveal-id="myModal2"><%= image_tag("gmail", size: "120x120") %>
</a>

  <br><br>
  Or type each one in individually<br> 
  <div class="center"><input type="textarea" name="emails" id="emails"></div>
  What email should I send your notification to?<br>
   <div class="center"><input type="text" name="myEmail" id="my-email"></div>
  <a class='button' id='send-emails-button'>Send Security Code</a>
  <p>We believe in privacy. We won't spam your contacts.</p>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

 <script>
    $("#send-emails-button").click(function() {
      
      var emailsString = $("#emails").val();
      var emails = emailsString.replace(/,/g, '');
      document.cookie = "invited=" + emails;
      document.cookie = "oauth_provider=none"
      document.cookie = "ownerEmail=" + $("#my-email").val();
      $('#myModal').foundation('reveal', 'close');
    });

    $("#invite_avatar").hide();
 </script>

 <script>
 

 function readURL(input) {
         if (input.files && input.files[0]) {
             var reader = new FileReader();

             reader.onload = function (e) {
              console.log(e.target.result);
                 $('image-section')
                     .attr('src', e.target.result)
                     .width(150)
                     .height(200);
             };
             console.log(input.files[0]);
             reader.readAsDataURL(input.files[0]);
             console.log("done");
         }
     }

 $(function() {
    $("input:file").change(function (){
      var fileName = $(this).val();
      // readURL(this);

      var img = document.createElement("img");
              var reader = new FileReader();
              reader.onloadend = function() {
                   img.src = reader.result;
                   img.id = "test";
              }
              reader.readAsDataURL(this.files[0]);
              $("#image-section").empty();
              $("#image-section").append(img);
      
    });
 });
 </script>

 <script>
 $("#submit_button").hide();

$("#choose_contacts_button").click(function() {
  $("#submit_button").show();
})
</script>
<script>
$("#datepicker").click(function() {
  $("#datepicker").fdatepicker('show')
});

$("#end_datepicker").click(function() {
  $("#end_datepicker").fdatepicker('show')
});
</script>