<link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
<div id="inviter">

<%= simple_form_for invite, url: url do |f| %>
<div class="make_event_div">
  <p class="make_event_below">MAKE EVENT BELOW</p>
</div>
 <div class="row">
   <div id="image-section" class="center-cropped" style="overflow:hidden;">
   </div>
 </div>
 <div class="margin-top row">
   <div class="medium-12 columns">
     <%= f.input :name, label: "", input_html: { "data-error-message" => "Event name"}, placeholder: "Event name" %>
   </div>
 </div>

 <div class="row slim">
   <div class="medium-5 small-5 columns date-range">

     <p><input type="text" id="datepicker" data-error-message="Start date" name="invite[invite_start_date]" placeholder="Start date"></p>

   </div>
   <div class="medium-2 small-2 columns date-range">

     <p><input type="text" name="invite[invite_start_hour]" data-error-message="Start hour" id="invite_start_hour" placeholder="Hour" class="integers"></p>

   </div>
   <div class="medium-2 small-2 columns date-range">

     <p><input type="text" name="invite[invite_start_minute]" data-error-message="Start min" id="invite_start_minute" placeholder="Min" value="00"></p>

   </div>
   <div class="medium-2 small-3 columns">

   <select id="title" name="invite[invite_start_am_pm]" data-error-message="Start am/pm">
    <option value="am">am</option>
    <option value="pm" selected>pm</option>
   </select>
   </div>
   <div class="medium-1 small-0 columns">
   </div>

</div>

 <div class="row slim">
   <div class="medium-5 small-5 columns date-range">

     <p><input type="text" id="end_datepicker" data-error-message="End date" name="invite[invite_end_date]" placeholder="End date"></p>

   </div>
   <div class="medium-2 small-2 columns date-range">

     <p><input type="text" name="invite[invite_end_hour]" data-error-message="End hour" id="invite_end_hour" placeholder="Hour" class="integers"></p>

   </div>
   <div class="medium-2 small-2 columns date-range">

     <p><input type="text" name="invite[invite_end_minute]" data-error-message="End min" id="invite_end_minute" placeholder="Min"  value="00"></p>

   </div>
   <div class="medium-2 small-3 columns">

   <select id="title" name="invite[invite_end_am_pm]" data-error-message="End am/pm"> 
    <option value="am">am</option>
    <option value="pm" selected>pm</option>
   </select>
   </div>
   <div class="medium-1 small-0 columns">
   </div>

</div>

 <div class="row">
  <div class="medium-12 columns">
    <%= f.input :address, html: { id: "pac-input" }, input_html: { "data-error-message" => "Location"}, label: "", placeholder: "Location" %>
  </div>
</div>

  <div class="row">
   <div class="medium-12 columns">
     <%= f.input :description, input_html: { "data-error-message" => "Event details"}, label: "", placeholder: "Tell them the details", label: "", as: :text %>
   </div>
 </div>

 <div class="margin-top row">
   <div class="medium-12 columns">

     <%= f.input :avatar, as: :file, label_html: { class: 'file-upload'}, label: "Select Event Image", input_html: { "data-error-message" => "Image"} %>
   </div>
 </div>



  <div class="row">
   <div class="medium-12 columns">
     <%= f.input :allow_others, label: "Guests can invite friends", as: :boolean, input_html: { "data-error-message" => "Allow others", class: "lower"} %>
   </div>
 </div>

 <div class="row">
    <div class="large-12 columns last-row">
      <small>By clicking "SEND" you are agreeing to our <a href="/terms-of-service">terms of service</a> and our <a href="/privacy-policy">privacy policy</a>.</small>
    </div>
  </div>
 </div>
<% end %>

<div class="row">
    <div id="myModal2" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">

    <div id="no-overflow">
         <div class="large-3 small-6 columns">
           Gmail <%= image_tag("gmail", size: "60x60") %>
         </div>

         <div class="large-9 small-6 columns">
           <input type="text" name="search-autocomplete" id="search-autocomplete" placeholder="Search"><br>
         </div>

         <div class="large-12 columns" id="contacts-table">
          <table id="myModal2-table">
            <tbody id="myModal2-table-body">
            </tbody>
          </table>
         </div>
     </div>
     <br><br>
       <div class="large-9 columns move_down">
         <p><small>We believe in privacy. We won't spam your contacts.</small></p>
       </div>

       <div class="large-3 columns move_down">
         <a class='button' id='continue-button'>DONE</a>
       </div>

   </div>

</div>   
<div id="buttons">
  <a href="#" class="button inviter_button" id="submit_button">SEND TO 0 INVITES</a>

  <a href="#" class="button inviter_button" id="choose_contacts_button">CHOOSE CONTACTS</a>
</div>
<div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <p class='modal_title'>Choose your service provider (easiest)</p>
  <div class="row">
     <div class="large-2 small-6 columns">

        <a class="logo_button" onclick="auth();" data-reveal-id="myModal2"><%= image_tag("gmail", class: "modal-image", id: "googleLogin") %></a>

     </div>
     <div class="large-4 small-0 columns">
     </div>

     <div class="large-2 small-6 columns left-margin">
     
     <p> </p>
     </div> 

     <div class="large-4 small-0 columns">
     </div> 
  </div>
</a>

  <br><br>
  <div class="white_background">
    <p>Or type each one in individually - </p> 
    <div class="row">
    
      <textarea name="emails" id="emails" placeholder="email, email, email ..."></textarea>
    </div>
    <br>
    <div class="row" id="pull-left">
      <div class="large-3 columns">
       <input type="text" name="myEmail" id="my-email" placeholder="your email">
      </div>
      <div class="large-4 columns">
        <a class='button tiny' id='send-emails-button'>DONE</a>
        <br><small id="error-message"></small>
      </div>
      <div class="large-5 columns">
      </div>

    </div>
    <br>
    <p><small>We believe in privacy. We won't spam your contacts.</small></p>
  </div>

  <div id="validation-errors" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <p class="lead">Missing info:</p>
    <p id='reveal-errors' style="font-size:14px;text-align:justify">I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
    <div class="large-9 columns move_down">
      <p><small></small></p>
    </div>

    <div class="large-3 columns" style="margin-right:-15px">
      <a class='button' id='continue-button'>OK</a>
    </div>
  </div>
</div>

