<link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
<div id="inviter">

<%= simple_form_for invite, url: url do |f| %>
<div class="make_event_div">
  <p class="make_event_below">Make Event Below</p>
</div>
 <div class="row">
   <div id="image-section" class="center-cropped" style="overflow:hidden;">
   </div>
 </div>
 <div class="margin-top row">
   <div class="medium-12 columns">
     <%= f.input :name, label: "", input_html: { "data-error-message" => "Event name"}, placeholder: "Event name" %>
   </div>
 </div>

 <div class="row slim">
   <div class="medium-5 small-5 columns date-range">

     <p><input type="text" id="datepicker" data-error-message="Start date" name="invite[invite_start_date]" placeholder="Start date"></p>

   </div>
   <div class="medium-2 small-2 columns date-range">

     <p><input type="text" name="invite[invite_start_hour]" data-error-message="Start hour" id="invite_start_hour" placeholder="Hour" class="integers"></p>

   </div>
   <div class="medium-2 small-2 columns date-range">

     <p><input type="text" name="invite[invite_start_minute]" data-error-message="Start min" id="invite_start_minute" placeholder="Min" value="00"></p>

   </div>
   <div class="medium-2 small-3 columns">

   <select id="title" name="invite[invite_start_am_pm]" data-error-message="Start am/pm">
    <option value="am">am</option>
    <option value="pm" selected>pm</option>
   </select>
   </div>
   <div class="medium-1 small-0 columns">
   </div>

</div>

 <div class="row slim">
   <div class="medium-5 small-5 columns date-range">

     <p><input type="text" id="end_datepicker" data-error-message="End date" name="invite[invite_end_date]" placeholder="End date"></p>

   </div>
   <div class="medium-2 small-2 columns date-range">

     <p><input type="text" name="invite[invite_end_hour]" data-error-message="End hour" id="invite_end_hour" placeholder="Hour" class="integers"></p>

   </div>
   <div class="medium-2 small-2 columns date-range">

     <p><input type="text" name="invite[invite_end_minute]" data-error-message="End min" id="invite_end_minute" placeholder="Min"  value="00"></p>

   </div>
   <div class="medium-2 small-3 columns">

   <select id="title" name="invite[invite_end_am_pm]" data-error-message="End am/pm"> 
    <option value="am">am</option>
    <option value="pm" selected>pm</option>
   </select>
   </div>
   <div class="medium-1 small-0 columns">
   </div>

</div>

 <div class="row">
  <div class="medium-12 columns">
    <%= f.input :address, html: { id: "pac-input" }, input_html: { "data-error-message" => "Location"}, label: "", placeholder: "Location" %>
  </div>
</div>

  <div class="row">
   <div class="medium-12 columns">
     <%= f.input :description, input_html: { "data-error-message" => "Tell them the details"}, label: "", placeholder: "Tell them the details", label: "", as: :text %>
   </div>
 </div>


<!--  <div class="row">
     <div id="validation-modal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
     <p>Validation modal</p>
 </div>   -->




 <div class="margin-top row">
   <div class="medium-12 columns">

     <%= f.input :avatar, as: :file, label_html: { class: 'file-upload'}, label: "Select Event Image", input_html: { "data-error-message" => "Select Image"} %>
   </div>
 </div>



  <div class="row">
   <div class="medium-12 columns">
     <%= f.input :allow_others, label: "Guests can invite friends", as: :boolean, input_html: { "data-error-message" => "Allow others", class: "lower"} %>
   </div>
 </div>

 <div class="row">
    <div class="large-12 columns last-row">
      <small>By clicking "SEND" you are agreeing to our <a href="/terms-of-service">terms of service</a> and our <a href="/privacy-policy">privacy policy</a>.</small>
    </div>
  </div>
 </div>

 <script>

 </script>

 <script>
 //Authorization popup window code
 $.oauthpopup = function(options)
 {
     options.windowName = options.windowName ||  'ConnectWithOAuth'; // should not include space for IE
     options.windowOptions = options.windowOptions || 'location=0,status=0,width=800,height=400';
     options.callback = options.callback || function(){ window.location.reload(); };
     var that = this;
     console.log(options.path);
     that._oauthWindow = window.open(options.path, options.windowName, options.windowOptions);
     that._oauthInterval = window.setInterval(function(){
         if (that._oauthWindow.closed) {
             window.clearInterval(that._oauthInterval);
             options.callback();
         }
     }, 1000);
 };
 document.cookie = "oauth_provider=hotmail";
$(function() {

   $("#hotmailLogin").click(function() {
     document.cookie = "oauth_provider=hotmail";
     $.oauthpopup({
         path: "<%= login_url %>",
         callback: function()
         {
             log('callback');
             //do callback stuff
         }
     });
   });
});
$(function() {
   $("#googleLogin").click(function() {
     document.cookie = "oauth_provider=google";
   });
});
 function addCookie(cname, value) {
  document.cookie= cname + "=" + value;

 }
 </script>
<script>
function delete_cookie( name ) {
  document.cookie = name + '=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
}


</script>


<% end %>

<div class="row">
    <div id="myModal2" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">

    <div id="no-overflow">
         <div class="large-3 small-6 columns">
           Gmail <%= image_tag("gmail", size: "60x60") %>
         </div>

         <div class="large-9 small-6 columns">
           <input type="text" name="search-autocomplete" id="search-autocomplete" placeholder="Search"><br>
         </div>

         <div class="large-12 columns" id="contacts-table">
          <table id="myModal2-table">
            <tbody id="myModal2-table-body">
            </tbody>
          </table>
         </div>
     </div>
     <br><br>
       <div class="large-9 columns move_down">
         <p><small>We believe in privacy. We won't spam your contacts.</small></p>
       </div>

       <div class="large-3 columns move_down">
         <a class='button' id='continue-button'>Done</a>
       </div>

   </div>

</div>   
<div id="buttons">
  <a href="#" class="button inviter_button" id="submit_button">SEND TO 0 INVITES</a>

  <a href="#" class="button inviter_button" id="choose_contacts_button">CHOOSE CONTACTS</a>
</div>
<div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <p class='modal_title'>Choose your service provider (easiest)</p>
  <div class="row">
     <div class="large-2 small-6 columns">

        <a class="logo_button" onclick="auth();" data-reveal-id="myModal2"><%= image_tag("gmail", class: "modal-image", id: "googleLogin") %></a>

     </div>
     <div class="large-4 small-0 columns">
     </div>

     <div class="large-2 small-6 columns left-margin">
     <a class="logo_button hotmail_button" href="#"><%= image_tag("hotmail", class: "modal-image", id: "hotmailLogin") %></a>
     <p> </p>
     </div> 

     <div class="large-4 small-0 columns">
     </div> 
  </div>
</a>

  <br><br>
  <div class="white_background">
    <p>Or type each one in individually - </p> 
    <div class="row">
    
      <textarea name="emails" id="emails" placeholder="email, email, email ..."></textarea>
    </div>
    <br>
    <div class="row" id="pull-left">
      <div class="large-3 columns">
       <input type="text" name="myEmail" id="my-email" placeholder="your email">
      </div>
      <div class="large-4 columns">
        <a class='button tiny' id='send-emails-button'>DONE</a>
        <br><small id="error-message"></small>
      </div>
      <div class="large-5 columns">
      </div>

    </div>
    <br>
    <p><small>We believe in privacy. We won't spam your contacts.</small></p>
  </div>

  <div id="validation-errors" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <p class="lead">Missing Info</p>
    <p id='reveal-errors'>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
    <div class="large-9 columns move_down">
      <p><small></small></p>
    </div>

    <div class="large-3 columns move_down">
      <a class='button' id='continue-button'>Ok</a>
    </div>
  </div>
</div>

 <script>
    $("#send-emails-button").click(function() {
      var emails = $("#emails").val();
      var myEmail = $("#my-email").val();
      var incomplete = [];
      if (emails == "") {
        incomplete.push("emails");
      }

      if (myEmail == "") {
        incomplete.push("my email");
     }

      if (incomplete.length > 0) {
        $("#error-message").text("*Fill in both fields to proceed.")
      } else {
        var emailsString = $("#emails").val();
        var invites = emailsString.match(/,/g) || [];
        var len = invites.length + 1
        if (len == 1) {
          $("#submit_button").text("SEND TO 1 INVITE");
        } else {
          $("#submit_button").text("SEND TO " + len + " INVITES");
        }
        $("#submit_button").show()
        $("#submit_button").addClass("form_submit");
        var emails = emailsString.replace(/,/g, '');
        document.cookie = "invited=" + emails;
        document.cookie = "oauth_provider=none"
        document.cookie = "ownerEmail=" + $("#my-email").val();
        $('#myModal').foundation('reveal', 'close');
      }
    });

    $("#invite_avatar").hide();
 </script>

 <script>
 

 function readURL(input) {
         if (input.files && input.files[0]) {
             var reader = new FileReader();

             reader.onload = function (e) {
              console.log(e.target.result);
                 $('image-section')
                     .attr('src', e.target.result)
                     .width(150)
                     .height(200);
             };
             console.log(input.files[0]);
             reader.readAsDataURL(input.files[0]);
         }
     }

 $(function() {
    $("input:file").change(function (){
      var fileName = $(this).val();
      // readURL(this);

      var img = document.createElement("img");
              var reader = new FileReader();
              reader.onloadend = function() {
                   img.src = reader.result;
                   img.id = "test";
              }
              reader.readAsDataURL(this.files[0]);
              $("#image-section").empty();
              $("#image-section").css("background", "white");
              $("#image-section").append(img);
      
    });
 });
 </script>

 <script>
 $("#image-section").click(function() {
  $(".file-upload").click();
 })

 $("#submit_button").hide();

</script>
<script>
$("#datepicker").click(function() {
  $("#datepicker").fdatepicker('show')
});

$("#end_datepicker").click(function() {
  $("#end_datepicker").fdatepicker('show')
});


</script>

<script>
var lastStartHour = "";
$('#invite_start_hour').on('input',function(e){
    if ($("#invite_start_hour").val() == "") {
      $("invite_start_hour").val("")
      lastStartHour = "";

    } else {
      try {
        var value = $("#invite_start_hour").val().replace(/\D/g, '' )

        var startInt = parseInt(value);
        if (startInt <= 13) {
          lastStartHour = value;
          $("#invite_start_hour").val(lastStartHour);
        } else {
          $("#invite_start_hour").val(lastStartHour);
        }
      } catch(err) {
        $("#invite_start_hour").val(lastStartHour);
      }
    }
 });

var lastStartHour = "";
$('#invite_end_hour').on('input',function(e){
    if ($("#invite_end_hour").val() == "") {
      $("invite_end_hour").val("")
      lastStartHour = "";

    } else {
      try {
        var value = $("#invite_end_hour").val().replace(/\D/g, '' )

        var startInt = parseInt(value);
        if (startInt <= 13) {
          lastStartHour = value;
          $("#invite_end_hour").val(lastStartHour);
        } else {
          $("#invite_end_hour").val(lastStartHour);
        }
      } catch(err) {
        $("#invite_end_hour").val(lastStartHour);
      }
    }
 });
// form id button

$("#choose_contacts_button").click(function() {
  // form id
  // var id = "new_invite";
  // var errors_list = [];

  // $("#" + id + " :input").map(function(){
  //     if( !$(this).val() ) {
  //       errors_list.push($(this).attr("data-error-message"));
  //     }
  // });

  // if(errors_list.length > 0){
  //     $("#reveal-errors").text(errors_list.join(", "));
  //     $('#validation-errors').foundation('reveal', 'open');

  // } else {
    // action to be performed if form is completely filled
    $('#myModal').foundation('reveal', 'open');
  // }
})
</script>
