<!-- <h1>Show Invite</h1> -->

<div class="margin-top row" id="inviter">
    <%= render 'details', invite: @invite %>
</div>
<div id="buttons">
<% if @invite.owner == @email and @invite.email_validated %>
  <a class="button inviter_button see_stats" onclick="loadContacts();" data-reveal-id="myModal2">TRACK RSVPs</a>
  <%= link_to 'EDIT', edit_invite_path(@invite), class: "button inviter_button", id: "right_button" %>

<% elsif @invite.email_validated %>
  <% if @invite.oauth_provider == "none" %>
    <a href="#" data-reveal-id="myModal" id="right_button" class="button inviter_button">Enter Password</a>

    <div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <h2 id="modalTitle">Log into <%= @invite.name %></h2>
       <form action="/authorize_noauth" method="post">
        password:<br>
        <input type="text" name="password"><br>
        <input type="hidden" name="invite_id" value="<%= @invite.id %>">
        <input type="submit" value="Submit">
      </form> 
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
  <% end %>
  <% if @invite.oauth_provider == "google" %>
    <button onclick="auth();">Login With Gmail Account</button>
  <% end %>
  <% if @invite.oauth_provider == "hotmail" %>
   <a href="<%= @session_url %>" id="hotmailLogin">Sign in to outlook</a>

  <% end %>
<% end %>

<% if @invite.owner == @email and @invite.email_validated == false %>

<div id="check-email" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h3>Check your email</h3>
  <br>
  <p style="font-size: 14px;text-align:justify;">Click the link in the email we sent you to send your invites.</p>
  <div class="large-9 columns move_down">
  </div>

  <div class="large-3 columns move_down">
    <a class='button' id='close-button'>OK</a>
  </div>
</div>
<script>

</script>

<% end %>

</div>


<div class="row">
    <div id="myModal2" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <ul class="tabs" data-tab>
      <li class="tab-title active" id="accepted-tab"><a href="#panel1"><%= @accepted_count %> Going</a></li>
      <li class="tab-title" id="declined-tab"><a href="#panel2"><%= @declined_count %> Can't Go</a></li>
      <li class="tab-title" id="invited-tab"><a href="#panel3"><%= @invite.invited.length %> Invited</a></li>
    </ul>
    <br>


    <div id="no-overflow">

         <div class="large-12 columns" id="contacts-table">
          <table id="myModal2-table">
            <tbody id="myModal2-table-body">
            </tbody>
          </table>
         </div>
     </div>


       <div class="large-12 columns">
         <a class='button' id='continue-button' data-reveal-id="messages-modal">Message Guests</a>
       </div>
   </div>
</div>

 <div id="messages-modal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <%= render 'message_form', invite: @invite, url: @invite.id.present? ? invite_path(@invite.id) : invites_path %>

</div>


<script>
$(function() {
  loadContacts("accepted-tab");
  $(".tab-title").click(function() {
    loadContacts(this.id);
  });

  function loadContacts(tab) {

    var invited = JSON.parse('<%= @invite.invited.to_json %>'.replace(/&quot;/g,'"'));
    var accepted = JSON.parse('<%= @invite.accepted.to_json %>'.replace(/&quot;/g,'"'));
    var declined = JSON.parse('<%= @invite.declined.to_json %>'.replace(/&quot;/g,'"'));
    var guests = [];
    if (tab == "invited-tab") {
      guests = invited;
    } else if (tab == "accepted-tab") {
      guests = accepted;
    } else if (tab == "declined-tab") {
      guests = declined;
    }

    if (guests === null) {
      guests = [];
    }
    $("#myModal2-table-body").empty();
    
    for (var i = 0; i < guests.length; i++) {

      $("#myModal2-table-body").append("<tr>");

      $("#myModal2-table-body").append("<td>");

      if ($.inArray(guests[i], accepted)) {
        $("#myModal2-table-body").append("<input class='emailCheckbox' type=checkbox name='" + guests[i] + "'' id='" + guests[i] + "' disabled /><label for='" + guests[i] + "'></label>");
      } else {
        $("#myModal2-table-body").append("<input class='emailCheckbox' type=checkbox name='" + guests[i] + "'' id='" + guests[i] + "' disabled checked/><label for='" + guests[i] + "'></label>");
      }
      
      $("#myModal2-table-body").append("</td>");
      $("#myModal2-table-body").append("<td>");

      $("#myModal2-table-body").append("  <b>" + guests[i] + "<b>  ");
      $("#myModal2-table-body").append("<br/>");

      $("#myModal2-table-body").append(guests[i]);
      
      $("#myModal2-table-body").append("</td>");
      $("#myModal2-table-body").append("<tr>");
    }

    if (guests.length == 0) {
      $("#myModal2-table-body").append("<p>No one in this list.</p>");
    }
  }
  if (window.location.search.match(/trackInvites/)) { 
    $('#myModal2').foundation('reveal', 'open')
  }

});

$("#image-section").css("background", "none");
</script>
