<!-- <h1>Show Invite</h1> -->

<div class="margin-top row" id="inviter">
    <%= render 'details', invite: @invite %>
</div>
<div id="buttons">
<% if @invite.owner == @email %>
  <a class="button inviter_button" onclick="loadContacts();" data-reveal-id="myModal2">See Stats</a>
  <%= link_to 'Edit', edit_invite_path(@invite), class: "button inviter_button", id: "right_button" %>

<% else %>
  <% if @invite.oauth_provider == "none" %>
    <a href="#" data-reveal-id="myModal" id="right_button" class="button inviter_button">Enter Password</a>

    <div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <h2 id="modalTitle">Log into <%= @invite.name %></h2>
       <form action="/authorize_noauth" method="post">
        password:<br>
        <input type="text" name="password"><br>
        <input type="hidden" name="invite_id" value="<%= @invite.id %>">
        <input type="submit" value="Submit">
      </form> 
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
  <% end %>
  <% if @invite.oauth_provider == "google" %>
    <button onclick="auth();">Login With Gmail Account</button>
  <% end %>
  <% if @invite.oauth_provider == "hotmail" %>
   <a href="<%= @session_url %>" id="hotmailLogin">Sign in to outlook</a>

  <% end %>
<% end %>

<% if current_user %>
  <p>Total reports: <%= @invite.report_count %></p>
  <% if @invite.reports %>
    <table>
      <thead>
        <tr>
          <th>Reports</th>
        </tr>
      </thead>
      <tbody>
        <% @invite.reports.each do |report| %>
        <tr>
          <td><%= report %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>

  <%= simple_form_for @invite, url: "/invites/#{@invite.id}/deactivate" do |f| %>
   <div class="margin-top row">
     <div class="medium-12 columns">
       <%= f.input :deactivation_reason %>
     </div>
   </div>
   <div class="row">
     <div class="large-12 columns">
       <%= f.button :submit %>
     </div>
   </div>
  <% end %>
<% end %>
</div>


<div class="row">
    <div id="myModal2" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <ul class="tabs" data-tab>
      <li class="tab-title active" id="accepted-tab"><a href="#panel1">Going</a></li>
      <li class="tab-title" id="declined-tab"><a href="#panel2">Can't Go</a></li>
      <li class="tab-title" id="invited-tab"><a href="#panel3">Invited</a></li>
    </ul>
    <br>


    <div id="no-overflow">

         <div class="large-12 columns" id="contacts-table">
          <table id="myModal2-table">
            <tbody id="myModal2-table-body">
            </tbody>
          </table>
         </div>
     </div>


       <div class="large-12 columns">
         <a class='button' id='continue-button' data-reveal-id="messages-modal">Message Guests</a>
       </div>
   </div>
</div>

 <div id="messages-modal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <%= render 'message_form', invite: @invite, url: @invite.id.present? ? invite_path(@invite.id) : invites_path %>

</div>
<script src="https://apis.google.com/js/client.js"></script>

<script>
function auth() {
  var config = {
    'client_id': '832245431959-4qt4jj9euf22pd3d6tdsqknrdd32nuem.apps.googleusercontent.com',
    'scope': 'https://www.google.com/m8/feeds'
  };
  gapi.auth.authorize(config, function() {
    var token = gapi.auth.getToken();
    // console.log(token)
    token['g-oauth-window'] = null;
    fetchGoogleContacts(token);
  });
}

function fetchGoogleContacts(token) {
  $.ajax({
    url: 'https://www.google.com/m8/feeds/contacts/default/full?alt=json&max-results=1000',
    dataType: 'jsonp',
    data: token
  }).done(function(data) {
    
    console.log("here");
    data["feed"]["id"]["$t"];
    // run a post call here
    $.post("/authorize_google",
        {
            email: data["feed"]["id"]["$t"],
            invite_id: "<%= @invite.id %>"
        }
        ,
        function(data, status){
            console.log(status);
            if (status == "success") {
              location.reload();
            } else {

            }
        })
  });
}
</script>

<script>
$(function() {

loadContacts("accepted-tab");
$(".tab-title").click(function() {
  loadContacts(this.id);
});

function loadContacts(tab) {

  console.log('<%= @invite.invited %>'); 
  var invited = JSON.parse('<%= @invite.invited.to_json %>'.replace(/&quot;/g,'"'));
  var accepted = JSON.parse('<%= @invite.accepted.to_json %>'.replace(/&quot;/g,'"'));
  var declined = JSON.parse('<%= @invite.declined.to_json %>'.replace(/&quot;/g,'"'));
  var guests = [];
  if (tab == "invited-tab") {
    guests = invited;
  } else if (tab == "accepted-tab") {
    guests = accepted;
  } else if (tab == "declined-tab") {
    guests = declined;
  }

  if (guests === null) {
    guests = [];
  }
  $("#myModal2-table-body").empty();
  
  for (var i = 0; i < guests.length; i++) {

    $("#myModal2-table-body").append("<tr>");

    $("#myModal2-table-body").append("<td>");

    if ($.inArray(guests[i], accepted)) {
      $("#myModal2-table-body").append("<input class='emailCheckbox' type=checkbox name='" + guests[i] + "'' id='" + guests[i] + "' disabled /><label for='" + guests[i] + "'></label>");
    } else {
      $("#myModal2-table-body").append("<input class='emailCheckbox' type=checkbox name='" + guests[i] + "'' id='" + guests[i] + "' disabled checked/><label for='" + guests[i] + "'></label>");
    }
    
    $("#myModal2-table-body").append("</td>");
    $("#myModal2-table-body").append("<td>");

    $("#myModal2-table-body").append("  <b>" + guests[i] + "<b>  ");
    $("#myModal2-table-body").append("<br/>");

    $("#myModal2-table-body").append(guests[i]);
    
    $("#myModal2-table-body").append("</td>");
    $("#myModal2-table-body").append("<tr>");
  }

  if (guests.length == 0) {
    $("#myModal2-table-body").append("<p>No one in this list.</p>");
  }
}
});
</script>
