<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />


  </head>
 
  <body>
  <style> 
  body {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v6/  zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  }

  .title {
    font-size: 120%;
  }

  </style>
  <div id="logo" style="font-size: 2em; margin-left:1em;">INVTR</div>
  <div style='margin-left: 2em;'>
  <div class="inviter" style="padding-bottom: 0.5%;border-radius: 10px;margin-top: 1%;width: 500px; background-color: white; border-style: solid;border-width:0.05em;">
  <div class="row">
    <div id="image-section" class="center-cropped" style="overflow:hidden;border-radius: 10px; background-size:cover !important; height: 20em;background-image:url('<%= @invite.avatar.url(:email) %>')">
    </div>
  </div>
  <div class="details" style="margin-left: 2em; margin-right: 2em;">
    <p class="title" style="font-family: Verdana; color: #737373;"><b> <%= @invite.name %> </b></p>
    <p style="font-family: Verdana; color: #737373;"> <%= @invite.start_date.strftime("%m/%d/%y %I:%M %p") %> </p>
    <p style="font-family: Verdana; color: #737373;"> <%= @invite.end_date.strftime("%m/%d/%y %I:%M %p") %> </p>
    <p style="font-family: Verdana; color: #737373;"> <%= @invite.address %> </p>
    <div class="hide_scrollbar">
      <div class="scroll">
        <p style="font-family: Verdana; color: #737373;"> <%= @invite.description %> </p>
      </div>
    </div>
    <% if @invite.allow_others %>
      <p style="font-family: Verdana; color: #737373;"> Guests may allow others </p>
    <% else %>
      <p style="font-family: Verdana; color: #737373;"> Invite-only event </p>
    <% end %>
  </div>
  </div>
  </div>
  <br>
  <br>
  <div id="buttons" style="width: 520px;margin-left:2em;margin-top: 1%;">
    <a style="font-size:18px;background-color:#94C6EA;border-top:1px solid #94C6EA;border-bottom:2px solid #94C6EA;width:500px;margin:5px;border-radius:10px;text-align:center;color:white;text-decoration:none;padding:11px 76px 11px;font-weight:700;display:inline;text-transform:uppercase;letter-spacing:0.075em;font-family: Verdana;" href="<%= @current_url %>/invites/<%= @invite.id %>/accept?email=<%= @email %>" class="button email_button" id="submit_button" data-reveal-id="myModal">ACCEPT</a>

    <a style="font-size:18px;background-color:#94C6EA;border-top:1px solid #94C6EA;border-bottom:2px solid #94C6EA;width:500px;margin:5px;border-radius:10px;text-align:center;color:white;text-decoration:none;padding:11px 76px 11px;font-weight:700;display:inline;text-transform:uppercase;letter-spacing:0.075em;font-family: Verdana;" href="<%= @current_url %>/invites/<%= @invite.id %>/decline?email=<%= @email %>" class="button email_button" data-reveal-id="myModal">DECLINE</a>
  </div>
  <br>
  <br>
  <div style="margin-left: 2.5em;">
    <p style="font-family: Verdana; color: #737373;">INVITE from INVTR</p>
    <p style="font-family: Verdana; color: #737373;"><a href="http://invtr.co/about">About</a> | This is not a subscription | <a href="http://invtr.co/terms-of-service">Terms of Use</a> | <a href="http://invtr.co/privacy-policy">Privacy</a> | <a href="<%= @current_url %>/invites/<%= @invite.id %>/report?email=<%= @email %>">Report</a></p>
    <p style="font-family: Verdana; color: #737373;">HERENOW INC. All rights reserved.</p>
  </div>
  </body>
</html>
