<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Redirect Url</th>
      <th>Desktop Photo</th>
      <th>Mobile Photo</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% contacts.each do |ad| %>
      <tr>
        <td>
        	<%= ad.name %> 
        </td>
        <td> 
          <%= ad.desc %> 
        </td>
        <td>
            <%= ad.start_date %>
        </td>
        <td> 
          <%= ad.end_date %> 
        </td>
        <td>
            <%= ad.redirect_url %>
        </td>
        <td class="table_img"> 
            <img src="<%= ad.avatar %>" height="100px" width="100px"> 
        </td>
        <td class="table_img"> 
            <img src="<%= ad.mobile %>" height="100px" width="100px"> 
        </td>
        <td>
          <%= link_to "Stats", admin_stats_path(ad) %><br>
          <%= link_to "Edit", edit_ad_path(ad)%><br>
          <%= link_to 'Delete', "/ads/#{ad.id}",  onclick: 'return confirm("Are you sure?")', method: :delete %>
        </td>
    <% end %>
  </tbody>
</table>
