<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

    <title><%= content_for?(:title) ? yield(:title) : "INVTR" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&callback=initMap" async defer></script>
    <script src="https://apis.google.com/js/client.js"></script>

    <!-- <link href="http://addtocalendar.com/atc/1.5/atc-style-blue.css" rel="stylesheet" type="text/css"> -->
    <style>
    body {
      <% if @static_page %>
        background-color: #fff;
        background-size: 100% 700%;
      <% elsif @about_page %>
        background-image: url('/assets/about-bg-2.jpg');
        background-size: contain;
        background-repeat: no-repeat;
      <% else %>
        background-image: url("<%= get_bg_image %>");
      <% end %>
    }
    </style>
  </head>

  <body>
    <% if @static_page.nil? and @about_page.nil? %>
      <div id="logo"><a class='no-decoration' href="/about" target="_blank">INVTR</a></div>
    <% end %>

    <%= yield %>
  </body>

  <% if @static_page.nil? and @about_page.nil? %>
  <script>

  $(function () {
    $('body').bind('click', function (evt) {
      if(evt.target == $('body')[0]) {
        console.log('body clicked');
        <% if session[:ad] %>

        $.ajax({
          type: "POST",
          url: "/ad/click",
          data: "",
          dataType: "json"
        });

        var redirectWindow = window.open("<%= session[:ad]['redirect_url'] %>", '_blank');
            redirectWindow.location;  
        <% end %>
      }
    });
  });
  </script>
  <% end %>

  <script>
    $('document').ready( function () {
      $('.form_submit').click(function() { 
        $('#myModal').foundation('reveal', 'close');
        $('form').submit() 
      });
    });
  </script>
</html>

