<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <title><%= content_for?(:title) ? yield(:title) : "INVTR" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href="http://addtocalendar.com/atc/1.5/atc-style-blue.css" rel="stylesheet" type="text/css">
  </head>

  <body>
  <div id="logo">INVTR</div>
    <%= yield %>
  </body>
</html>
<script>
$('body').css("background-image", "url('http://s3.amazonaws.com/invtr/ads/avatars/56a1/000d/a274/b200/0300/0000/original/INVTR-home.png?1453391885;)"); 
</script>
