<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <title><%= content_for?(:title) ? yield(:title) : "INVTR" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href="http://addtocalendar.com/atc/1.5/atc-style-blue.css" rel="stylesheet" type="text/css">
  </head>

  <body>
  <div id="logo">INVTR</div>
    <%= yield %>
  </body>
  <script>
  function success(data) {
    console.log("success");
  }

  function error(data){
    console.log(data);
  }
  $(function () {
    $('body').bind('click', function (evt) {
      if(evt.target == $('body')[0]) {
        console.log('body clicked');
        <% if session[:ad] %>

        $.ajax({
          type: "POST",
          url: "/ad/click",
          data: "",
          success: success,
          error: error,
          dataType: "json"
        });
        console.log("ee");  

        var redirectWindow = window.open("<%= session[:ad]['redirect_url'] %>", '_blank');
            redirectWindow.location;  
        <% end %>
      }
    });
  });
  </script>
</html>

